<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Pagina principal</title>
</head>
<body>

    <h1>Ejercicios con HTML</h1>

    <ul>
        <li>
            <a href="/Home/Ejercicio1">Ejercicio 1</a>
        </li>
        <li>
            <a href="/Home/Ejercicio2">Ejercicio 2</a>
        </li>
        <li>
            <a href="/Home/Ejercicio3">Ejercicio 3</a>
        </li>
        <li>
            <a href="/Home/Ejercicio4">Ejercicio 4</a>
        </li>
        <li>
            <a href="/Home/Ejercicio5">Ejercicio 5 - Enlaces</a>
        </li>
        <li>
            <a href="/Home/Ejercicio6">Ejercicio 6 - Listas</a>
        </li>
        <li>
            <a href="/Home/Ejercicio7">Ejercicio 7 - Tablas 1</a>
        </li>
        <li>
            <a href="/Home/Ejercicio8">Ejercicio 8 - Tablas 2</a>
        </li>
        <li>
            <a href="/Home/Ejercicio9">Ejercicio 9 - Formularios 1</a>
        </li>
        <li>
            <a href="/Home/Ejercicio10">Ejercicio 10 - Formularios 2</a>
        </li>
        <li>
            <a href="/Home/Ejercicio11">Ejercicio 11 - Formularios 3</a>
        </li>
    </ul>

</body>
</html>
